/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    margin: 0;
    padding:0;
    height: 100%;
}

#container {
    background: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}
/* ==========================================================================
   Page items
   ========================================================================== */
h1{
    text-align:center;
    padding-top:24vh;
    font-size:40px;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
h4{
    text-align:center;
    padding-top:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:rgb(150,150,150);
}

.btn {
    background: #49007c;
    background-image: -webkit-linear-gradient(left, #49007c, #c10085);
    background-image: -moz-linear-gradient(right, #49007c, #c10085);
    background-image: -ms-linear-gradient(right, #49007c, #c10085);
    background-image: -o-linear-gradient(left, #49007c, #c10085);
    background-image: linear-gradient(to right, #49007c, #c10085);
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    padding: 13px 40px 13px 40px;
    text-decoration: none;
    outline:none;
    border:none;
    margin-top:10vh;
}
.centered {
    text-align: center;
}

.scroll {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:10vh;
    position:absolute;
}

button:focus {
    outline:0;
}
button:active {
    border:none;
}

.about {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}
/* ==========================================================================
   Grid System
   ========================================================================== */

.section {
    width:100%;
    padding:0;
    margin:0;
}
.aboutRight {
    width: 50%;
    text-align:left;
    background: url("../img/code.jpg");
    background-size: cover;
    background-position: center;
    float:left;
    height:50vh;
}
.aboutLeft {
    width: 50%;
    text-align: left;
    background: url("../img/design.jpg");
    background-size: cover;
    background-position: center;
    float:left;
    height:50vh;
}

.aboutTextHeader {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:40px; !important;
    color:white;
    margin-left:16%;
    margin-top:10vh;
}

.aboutTextParagraph {
    color:white;
    margin-left: 16%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.aboutButton {
    margin-left: 16%;
    margin-top: 5vh;
}

.offerRight {
    width: 50%;
    text-align:left;
    float:left;
    height:40vh;
}
.offerLeft {
    width: 50%;
    text-align: left;
    float:left;
    height:35vh;
}

.offerHeaderMain {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:40px;
    text-align:center;
    margin-top:5vh;
    width:100%;
    display:inline-block;
}

.offerTextHeader {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:30px;
    color:black;
    margin-left:5%;
    margin-top:-2vh;
    margin-bottom:1px;
    float:left;
}

.offerTextParagraph {
    color:black;
    margin-left: 5%;
    margin-right: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    float:left;
    text-align:left;
    max-width:40%;
}

.offerImage {
    margin-left:16%;
    float:left;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 700px) {
    .aboutRight, .aboutLeft { width: 100%; }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
