/* ==========================================================================
   Navbar
   ========================================================================== */
.navbar {
    position:fixed;
    z-index:1000;
    width:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.scrolled {
    background:rgba(35,35,35,0.8);
    color:white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



.logo {
    margin-left:16%;
    padding:30px 0;
    float:left;
    font-size:30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.scrolledLogo {
    padding-top: 10px;
    padding-bottom: 3px;
}

.scrolledNavbar {
    padding: 0;
}
.burger {
    display:none;
}
nav {
    float:right;
    padding: 20px 0;
    margin-right:16%;
    color:inherit;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a {
    text-decoration:none;
    color:inherit;
}

nav ul li {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
}
.border:hover{
    list-style-position:inside;
    border: 1px solid rgb(120,120,120);
    border-radius:30px;
    border-spacing:1px;
}

@media only screen and (max-width: 1300px) {
    .logo {
        margin-left: 2%;
        padding: 30px 0;
        float: left;
        font-size: 30px;
    }
    .scrolledLogo {
        padding-top: 10px;
        padding-bottom: 3px;
    }

    .scrolledNavbar {
        padding: 0;
    }
    nav {
        float: right;
        padding: 20px 0;
        margin-right: 2%;
        color: inherit;
    }

    nav ul li {
        padding: 5px;
    }

    @media only screen and (max-width: 700px) {
        .navbar {
            background:rgba(35,35,35,0.8);
            color:white;
            height:45px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .logo {
            padding: 10px;
            font-size:20px;
        }

        .burger {
            display:unset;
            float:right;
            font-size:20px;
            padding:10px;
        }

        .showing {
            visibility:hidden;
            opacity:0;
            transition:opacity 0.1s linear;
            -webkit-transition-delay: 0.1s;
        }
        .extend {
            height:100%;
        }

        nav {
            color:white;
            float:none;
            width: 100%;

        }

        nav ul {
            padding:0;
        }

        nav ul li {
            box-sizing:border-box;
            width:100%;
            text-align:center;
            padding-top:30px;
            padding-bottom:30px;

        }
    }
}


